<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body style="background:#EFF0F0;width:100%;">

    <div style="background:white ; align:center ; max-width:800px ; margin-left:auto ; margin-right:auto ; height:auto ; display:block ; border: none ; width:100% ; margin-top:0px ; padding-top:10px ; padding-bottom:10px ; margin-bottom:20px;">
  <img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/2981239-4675d55046d6ab8cfb380005b2449184-medium_jpg.jpg?buster=1478088528" alt="Cocoon - Live larger" style="max-width:300px;margin-left:auto;margin-right:auto;height:auto;display:block;border:none;width:25%;padding-top:10px">


        <table  cellpadding="0" cellspacing="0" style="font-family:Helvetica, Arial, sans-serif; text-align:left;color:rgb(99,105,107);font-size:16px;background-color:transparent;float:center;margin:5px;padding:5px; margin-left:40px ; margin-right:40px ; margin-top: 5px;">


          <tr class="resp-block">
            <td class="resp-block" colspan="2">&nbsp;</td>
          </tr>

          <tr class="resp-block">
            <td class="resp-block resp-td" colspan="2">&nbsp;</td>
          </tr>

        </table>

        <hr align="middle" style="height:2px ; border:none ; color:#ff5450 ; background-color:#41C91A;" width="5%" size="3px"/>
        

        <div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:center ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px;">
   

             <p style="font-family:Helvetica, Arial, sans-serif; text-align:left;color:rgb(99,105,107);font-size:15px; text-align: left; margin-left:40px ; margin-right:40px ;"> 
                        <br>Hi everyone!

                        <br>I am just emailing you to introduce someone who is interested in moving in. You mightn't have had a chance to meet them yet, and they may become your fellow tenants at {address}  


                        
             </div>
             

<div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:center ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px;">
   

             
                <p style="font-family:Helvetica, Arial, sans-serif; text-align:middle;color:rgb(99,105,107);font-size:18px; text-align: middle; margin-left:40px ; margin-right:40px ;"> 
                        <br>
                        <br><strong>Your possible future housemate</strong>


                        </p>
             </div>
             <div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:center ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px;margin-left: 10px;margin-right: 10px;">
             <table border="1" cellpadding="10" align="center">
   
   <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Occupation</th>
      <th>Number</th>
      <th>Email</th>
   </tr>
   <tr>
    <td>{first_name}</td>
      <td>{nationality}</td>
      <td>{age}</td>
      <td>{sex}</td>
      <td>{occupation}</td>
      <td>{phone}</td>
      <td>{email}</td>
   </tr>
</table>
<div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:left ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px; margin-left: 15px">

If you decide after reaching out that you wouldn't want to enter into a tenancy with them please let us know! 

</div>

<div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:left ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px; margin-left: 15px">

<strong>Important: </strong><br><br>

Cocoon offers to cover tenants' rent liability for empty beds in the house, however, in the instance a tenant or tenants refuse an introduction provided by Cocoon, Cocoon can no longer cover the rent for that empty area of the house, the cost of which is then the responsibility of the household (See ‘Rental assistance agreement’, clause 4.1.2.).<br>


It’s absolutely fine, mind you, to reject someone. This just means that you or your house would have to find your own replacement, or could choose keep an area empty - but Cocoon can’t be paying for this. <br><br>


<strong>Why does Cocoon’s service only allow for one introduction refusal per area?</strong><br><br>

Providing this service is a significant risk for Cocoon, as Cocoon cannot of course pay for/ cover rent for empty areas when combining the risk of rejection by tenants. <br>

So whilst we’ll try our best to introduce people to you with similar interests, if you feel Cocoon’s proposed tenant isn’t someone you want to co-tenant with, we’re limiting the risk of providing this service here and would need the house to take responsibility for the rental of that empty area. <br>


Keep in mind that in typical co-tenancy/ share house situations, there’s no one providing any coverage of rent in empty spaces at any time, nor any introductions service for you, and you’d be jointly liable as co-tenants for the whole house’s rent in such scenarios at all points in time.<br><br>


<strong>What happens if a co-tenant of mine rejects someone who I’m OK with?</strong><br><br>

If you’re worried about a fellow tenant rejecting a possible new tenant we’ve proposed, and having yourself then end up liable (when you were happy to accept that new tenant), you needn’t be. <br>


Your ‘Household agreement’ you signed between yourselves specifies that the responsibility of paying for an area your co-tenant refused another entry into would become the financial responsibility of the person/people who refused them, and not yours.<br>

</div>

</div>

        <table class="mNote" width="100%" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border: #ffffff 0px solid; font-family:Arial, Helvetica, sans-serif; color:#000000; padding-top:15px;">
            <tr>
                <td class="cpl" width="5%">
                    &nbsp;
                </td>
                <td align="center" valign="middle" style=" font-size: 12px;">
                    
                </td>
                <td class="cpr" width="5%">
                    &nbsp;
                </td>
            </tr>
        </table>

        <div style="font-family:Helvetica, Arial, sans-serif ; font-size:15px ; color:rgb(99,105,107) ; text-align:left ; margin-left:0px ; margin-right:0px ; background-color:transparent ; margin-top:30px ; margin-bottom:20px; margin-left: 15px">Cheers, <br>
Cocoon </div>
                     
    </div>


    <table>
        <tr>
            <td class="cpr" width="5%">
                            &nbsp;
                        </td>
        </tr>
    </table>

</body>

</html>
